<div class="row">
    <div class="col-12 mt-5 d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary" (click)="goCreateMember()">
            <fa-icon [icon]="faPlus"></fa-icon> <span class="ms-2">Crear
                Socio</span>
        </button>

    </div>
    <div class="col-12 mt-2">
        <table mat-table [dataSource]="members" class="mat-elevation-z8">
            <ng-container matColumnDef="memberShipNumber">
                <th mat-header-cell *matHeaderCellDef> Nº Socio </th>
                <td mat-cell *matCellDef="let element"> {{element.memberShipNumber}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nif">
                <th mat-header-cell *matHeaderCellDef> Dni </th>
                <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="brithdayDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.brithdayDate}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="province">
                <th mat-header-cell *matHeaderCellDef> Provincia </th>
                <td mat-cell *matCellDef="let element"> {{element.province}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">   <button mat-raised-button color="primary">Editar</button> </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Eliminar</th>
                <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary">Eliminar</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>



<!-- <div class="row">
    <div class="col-12 mt-5 d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary" (click)="goCreateMember()">
            <fa-icon [icon]="faPlus"></fa-icon> <span class="ms-2">Crear
                Socio</span>
        </button>

    </div>

</div>
<div class="row">
    <div class="col-12 mt-2">

        <div class="row" d-flex flex-row>
            <div class="col-6">
                <div class="table-title">
                    <h1 class="mt-2">Socios</h1>

                </div>
            </div>
            <div class="col-6">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>



        </div>
        <table class="table" aria-describedby="member list">

            <thead>
                <tr>
                    <th scope="col">Nº Socio</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">NIF</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirreción</th>
                    <th scope="col">Provincia</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <th scope="row">{{member.memberShipNumber}}</th>
                    <td>{{member.name}}</td>
                    <td>{{member.nif}}</td>
                    <td>{{member.brithdayDate}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.mobile}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.province}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->